<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        @RenderSection("Metadata", required: false)

        <title>@ViewData["Title"] - UniversityMovieApp</title>

        @* styles *@
        <link rel="stylesheet" href="dist/bundle.css">

        <link rel="stylesheet" href="css/Shared/base.css">
        <link rel="stylesheet" href="css/Shared/layout.css">
        <link rel="stylesheet" href="css/Shared/palette.css">
        @RenderSection("Styles", required: false)
    </head>
    <body>
        <main>
            <header>
                <a href="/">
                    <img src="icons/logo.svg" class="logo">
                </a>
            </header>

            <div class="content">
                @RenderBody()
            </div>

            <footer>
                
            </footer>
        </main>

        @* scripts *@
        <script type="module" src="dist/bundle.js"></script>
    </body>
</html>