<dialog class="modal-window auth-modal" id="auth-modal">
    <div class="exit-button-container">
        <button id="auth-modal-close">X</button>
    </div>

    <div>
        <button type="button" id="tab-login-btn">Login</button>
        <button type="button" id="tab-register-btn">Register</button>
    </div>

    <form id="register-form" asp-controller="Auth" asp-action="Register" method="post">
        @Html.AntiForgeryToken()

        <h3>Register</h3>

        <input 
            type="email" 
            name="Register.Email" 
            placeholder="Email"
            required 
        />

        <input 
            type="password" 
            name="Register.Password" 
            placeholder="Password"
            required 
        />

        <input 
            type="password" 
            name="Register.ConfirmPassword"
            placeholder="Confirm Password"
            required 
        />

        <button type="submit">Sign Up</button>
    </form>

    <form id="login-form" asp-controller="Auth" asp-action="Login" method="post">
        @Html.AntiForgeryToken()

        <h3>Login</h3>

        <input 
            type="email" 
            name="Login.Email" 
            placeholder="Email"
            required 
        />

        <input 
            type="password" 
            name="Login.Password" 
            placeholder="Password"
            required 
        />

        <button type="submit">Sign In</button>
    </form>
</dialog>
